/Modules
/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
.rnd
/.expo
/.vscode
/docker-compose/db/data/
docker-compose.yml
docker-compose.yaml
.phpstorm.meta.php
phpdocker

.gitkeep
/public/docs
/.scribe
!storage/fonts/.gitkeep
.php-cs-fixer.cache